<footer>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-3 fs mt-0">
          <h3 class="mt-0">ABOUT</h3>
          <a>Contact Us</a>
          <a>About Us</a>
          <a>Careers</a>
          <a>Flipkart Stories</a>
          <a>Press</a>
          <a>Flipkart </a>
          <a>Wholesale</a>
          <a>Corporate </a>
          <a>Information</a>
        </div>
        <div class="col-md-3 fs mt-0">
          <h3 class="mt-0">HELP</h3>
          <a>Payments </a>
          <a>Shipping</a>
          <a>Cancellation & Returns</a>
          <a>FAQ</a>
          <a>Report Infringement</a>
        </div>
        <div class="col-md-3 fs mt-0">
          <h3 class="mt-0">CONSUMER POLICY</h3>
          <a> Return Policy</a>
          <a>Terms Of Use</a>
          <a>Security</a>
          <a>Privacy</a>
          <a>Sitemap</a>
          <a>Grievance Redressal</a>
          <a>EPR Compliance</a>
        </div>
        <div class="col-md-3 fs mt-0">
          <h3 class="mt-0">SOCIAL</h3>
          <a
            href="https://www.facebook.com/login/device-based/regular/login/?login_attempt=1"
            >Facebook</a
          >
          <a href="https://twitter.com/">Twitter</a>
          <a href="https://www.youtube.com/">YouTube</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6 fc">
          <h3 class="mt-0">Mail Us</h3>
          <p>
            Flipkart Internet Private Limited, Buildings Alyssa, Begonia & Clove
            Embassy Tech Village, Outer Ring Road, Devarabeesanahalli Village,
            Bengaluru, 560103, Karnataka, India
          </p>
        </div>
        <div class="col-md-6 fc">
          <h3 class="">Register Office Adress</h3>
          <p>
            Flipkart Internet Private Limited, Buildings Alyssa, Begonia & Clove
            Embassy Tech Village, Outer Ring Road, Devarabeesanahalli Village,
            Bengaluru, 560103, Karnataka, India CIN : U51109KA2012PTC066107
            Telephone: 044-45614700
          </p>  
        </div>
      </div>
    </div>
  </div>
</footer>
